*, html, body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: #726351;
}

/* Navbar Styles */
.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    width: 100%;
    height: 80px;
    background-color: rgb(90, 85, 85);
    box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.5);
}

.brand {
    display: flex;
    flex-direction: row;
    font-size: 1.5em;
    padding: 15px;

}

.firstname {
    color: whitesmoke;
    font-weight: 700;
}

.lastname {
    color: tomato;
    font-weight: 700;
    padding-left: 4px;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation li {
    list-style-type: none;
    padding: 20px;
}

.navigation li a {
    color: whitesmoke;
    font-size: 20px;
    text-decoration: none;
}

.navigation li a:hover {
    color: tomato;
    transition: all .3s ease-in-out
}

.navigation li img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.navigation li img:hover {
    width: 60px;
    height: 60px;
    border-radius: 60px;
    transition: all .3s ease-in-out;
}
/* Navbar Styles */

.header_container {
    padding: 1rem 1rem 5rem 1rem;
  }
  
  .header_image_container {
    position: relative;
    min-height: 450px;
    background-image: linear-gradient(
        to right,
        rgba(44, 56, 85, 0.9),
        rgba(100, 125, 187, 0.1)
      ),
      url("gambar_utama.png");
    background-position: center;
    border-radius: 5rem;
  }
  
  .header_content {
    max-width: 600px;
    padding: 3rem 2rem;
    color: white;
  }
  
  .header_content h1 {
    margin-bottom: 1rem;
    font-size: 3.5rem;
    line-height: 4rem;
    font-weight: 600;
  }
  
  /* Booking Style */
  .booking_container {
    position: absolute;
    bottom: -3rem;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 6rem);
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 3rem 2rem;
    border-radius: 3rem;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
  }
  
  .booking_container form {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
  
  .booking_container .input_group {
    width: 100%;
    position: relative;
  }
  
  .booking_container label {
    position: absolute;
    top: 10%;
    left: 0;
    transform: translateY(-50%);
    font-size: 1rem;
    font-weight: 500;
    pointer-events: none;
    transition: 0.3s;
  }
  
  .booking_container input {
    width: 100%;
    padding: 20px 0 0;
    font-size: 15px;
    outline: none;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #2c3855;
    color: grey;
  }
  
  .booking_container input:focus ~ label {
    font-size: 1.1rem;
    top: 0;
  }
  
  .booking_container .form_group p {
    margin-top: 0.5rem;
    font-size: 0.8rem;
  }
  
  .booking_container .btn {
    padding: 1rem;
    outline: none;
    border: none;
    font-size: 1.5rem;
    color: white;
    background-color: #2c3855;
    border-radius: 100%;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .booking_container .btn:hover {
    background-color: #435681;
  }
  /* Booking Styles */

  /* Popular Styles */
  .popular-destinations {
    display: flexbox;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 100px 30px;
    color: white;
  }

  .popular-header {
    order: -1; /* Mengubah urutan header ke atas */
  }

  .popular-header h1 {
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    font-size: 35px;
    text-shadow: 0px 3px 0px rgb(71, 68, 68);
  }
  
  .destination-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
  }

  .destination {
    text-align: center;
  }
  
  .destination img {
    cursor: pointer;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
    border: 3px solid #fff; /* optional: add border for the images */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* optional: add shadow effect */
  }

  .destination img:hover {
    width: 39px;
    height: 39px;
    transition: all .3s ease-in-out;
  }
  
  .destination p {
    margin-top: 3px;
    font-weight: bold;
  }
  /* Popular Styles */

  .footer {
    padding: 1rem 5rem;
    background-color: rgb(90, 85, 85);
  }
  
  .footer_container {
    display: grid;
    grid-template-columns: 3fr repeat(3, 2fr);
    gap: 5rem;
  }
  
  .footer_col h3 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: tomato;
  }
  
  .footer_col h4 {
    margin-bottom: 1rem;
    font-size: 1.3rem;
    font-weight: 600;
    color: tomato;
  }
  
  .footer_col p {
    margin-bottom: 1rem;
    color: white;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .footer_col p:hover {
    color: grey;
    transition: 0.5s;
  }