*{
    margin: 0;
    padding: 5px;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
body{
    background: #726351;
}
.container{
    width: 370px;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
.login{
    margin: 7rem auto;
}
.register{
    margin: 1.5rem auto;
}
.container p{
    color: #39373d;
    margin: 1rem;
}
.container h1{
    font-size: 2.4rem;
    color: #39373d;
}
.container form input{
    width: 100%;
    padding: 16px 20px;
    background: #ececec;
    margin-bottom: 10px;
    border-radius: 10px;
}
.container button{
    font-size: 1.4rem;
    margin-top: 2rem;
    padding: 7px 0;
    border-radius: 5px;
    background: #cd9452;
    width: 87%;
    color: #fff;
    cursor: pointer;
}
.container button:hover{
    background: #cd9452d5;
}
.container .not_member,.member{
    margin-top: 1.4rem;
    font-size: 0.9rem;
}
.container .not_member a, .member a{
    color: tomato;
}
.comtainer a:hover{
    text-decoration: underline;
}